@model Marjani.Peyment.Bitcoin.Models.Peyment

@{
    Layout = null;
}


@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Marjani Bitcoin Payment Sample - Pay on order</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <!-- Custom styles for this template -->
    <link href="/Content/jumbotron-narrow.css" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Create Order</a></li>
                    <li role="presentation"><a href="/Orders">Orders</a></li>
                    <li role="presentation"><a href="http://marjani.net">Marjani.net</a></li>
                </ul>
            </nav>
            <h1 class="text-muted">Marjani Bitcoin payment</h1>
            <small>(sample)</small>
        </div>
        <div class="row marketing">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Please pay your order</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.OrderId)

                        </td>
                        <td>
                            @Html.DisplayFor(model => model.OrderId)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Total)

                        </td>
                        <td>
                            @string.Format("{0:F8}", Model.Total)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Adderess)

                        </td>
                        <td id="address">
                            @Html.DisplayFor(model => model.Adderess)
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="javaScript:updateAddress();"><span class="glyphicon glyphicon-refresh"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer class="footer">
            <p>&copy; 2016 <a href="http://marjani.net">Marjani.net</a></p>
        </footer>

    </div>
    <script src="/Scripts/jquery-1.9.1.min.js"></script>
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script>
        function updateAddress() {
            $.get('/Checkout/refresh', {id : @Model.OrderId},function (data) {
                $('#address').text(data.address);
            })
        }
    </script>
    <!-- /container -->
</body>
</html>

